{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-recess-order"
    ],
    "rules": {
        "selector-id-pattern": null,
        "selector-class-pattern": null,
        "keyframes-name-pattern": null,
        "block-no-empty": true,
        "color-no-invalid-hex": true,
        "color-named": "never",
        "comment-whitespace-inside": "always",
        "declaration-block-no-duplicate-properties": true,
        "font-family-no-missing-generic-family-keyword": [
            true,
            {
                "ignoreFontFamilies": [
                    "bootstrap-icons"
                ]
            }
        ],
        "function-linear-gradient-no-nonstandard-direction": true,
        "font-family-no-duplicate-names": true,
        "media-feature-name-no-unknown": true,
        "media-feature-range-notation": "prefix",
        "media-feature-name-disallowed-list": [
            "/media-features/"
        ],
        "no-duplicate-selectors": null,
        "no-descending-specificity": [
            true,
            {
                "ignore": [
                    "selectors-within-list"
                ]
            }
        ],
        "no-duplicate-at-import-rules": true,
        "no-empty-source": true,
        "property-no-unknown": true,
        "property-no-vendor-prefix": true,
        "selector-type-no-unknown": true,
        "selector-pseudo-class-no-unknown": true,
        "selector-pseudo-element-no-unknown": true
    }
}