@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #000;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

img {}

li {
  list-style: none;

  /* リスト先頭の記号を表示しないときに指定します */
}


/* 部品
------------------------------------------ */

.container {
  max-width: 1080px;
  padding: 20px;
  margin: 0 auto;
}

/* ヘッダー
------------------------------------------ */



/* セクション
------------------------------------------ */

/* ギャラリー部分 */
.thumbnails-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin: 50px 0;
}

.gallery__image {
  flex: 1 1 300px;
  min-width: 300px;
}

@media screen and (max-width: 767px) {
  .gallery__image {
    min-width: calc(300/767*100vw);
  }
}


.thumbnail {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.thumbnails-wrapper img:hover {
  cursor: pointer;
  opacity: .7;
}

.slides-overlay {
  position: fixed;
  inset: 0;
  z-index: 3;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 80%);
  opacity: 0;
  transition: .3s;
}

@media screen and (max-width: 767px) {
  .slides-overlay {}
}

.slides-overlay.active {
  visibility: visible;
  opacity: 1;
  transition: .3s;
}

.slides-overlay img.active {
  display: block;
}

.modal-slide-container {
  display: flex;
  flex: 0 1 60%;
  flex-flow: row nowrap;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
  width: 75%;
  max-width: 1000px;
  height: 60%;
  max-height: 350px;
}

@media screen and (max-width: 767px) {
  .modal-slide-container {
    column-gap: 5px;
    width: 95%;
    max-height: 500px;
  }
}

.modal-slide-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  max-width: 860px;
  height: 100%;
  overflow-y: scroll;
}

@media screen and (max-width: 767px) {
  .modal-slide-content {
    flex-direction: column;
    align-items: center;
  }
}

.modal-slide-image-wrapper {
  display: flex;
  flex: 0 1 60%;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

@media screen and (max-width: 767px) {
  .modal-slide-image-wrapper {
    flex-grow: 1;
  }
}

.modal-image {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: none;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .image-caption {
    flex: 0 0 35%;
  }
}

.image-caption {
  color: #fff;
}

#modal-close {
  position: relative;
  left: 40%;
  width: 50px;
  height: 50px;
  background-color: #000;
  transition: .3s;
}

#modal-close:hover {
  opacity: .7;
}

#modal-close::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  content: "";
  background-color: #fff;
  transform: translate(-50%, -50%) rotate(45deg);
}

#modal-close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  content: "";
  background-color: #fff;
  transform: translate(-50%, -50%) rotate(-45deg);
}

#prev, #next {
  position: relative;
  flex: 0 0 50px;
  height: 50px;
  color: #959595;
  background-color: rgb(62 62 62);
  transform: translateY(-50%);
  transition: .3s;
}

#prev:hover, #next:hover {
  opacity: .7;
}

#prev.active, #next.active {
  background-color: #000;
}


#prev::after {
  position: absolute;
  top: 0;
  right: 14px;
  bottom: 0;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin: auto;
  content: '';
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(225deg);
}


#next::after {
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin: auto;
  content: '';
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}

.modal-opened {
  overflow-y: hidden;

  /* 背景を固定 */
}

.num-of-photo {
  margin-top: 10px;
  font-size: 28px;
  color: #fff;
  text-align: center;
}

/* フッター
------------------------------------------ */