@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #000;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

img {
  /* 画面幅を変更した際に画像が伸縮する設定 */

  /* 画像の原寸サイズ以上の大きさにはならない */

  /* 原寸サイズ以上で表示したい場合は、width: 100%;にする。画像がぼやけるので注意 */
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;

  /* リスト先頭の記号を表示しないときに指定します */
}


/* 部品
------------------------------------------ */

/* ヘッダー
------------------------------------------ */



/* セクション
------------------------------------------ */

/* ギャラリー部分 */
.thumbnails-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 50px 0;
}

.thumbnails-wrapper img {
  max-width: 300px;
  object-fit: cover;
}

.thumbnails-wrapper img:hover {
  cursor: pointer;
  opacity: .7;
}

.slides-wrapper{
  position: relative;
  max-width: 1000px;
  padding: 0 20px;
}

.slides-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1003;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0 calc(50% - 50vw);
  background-color: rgb(0 0 0 / 80%);
  opacity: 0;
  transition: .3s;
}

.slides-overlay.active {
  visibility: visible;
  opacity: 1;
  transition: .3s;
}

.slides-overlay img.active {
  display: block;
}

#close-02 {
  position: absolute;
  top: 10%;
  right: 5%;
  z-index: 1;
  width: 50px;
  height: 50px;
  background-color: #000;
  transition: .3s;
}

#close-02:hover {
  opacity: .7;
}

#close-02::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  content: "";
  background-color: #fff;
  transform: translate(-50%, -50%) rotate(45deg);
}

#close-02::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  content: "";
  background-color: #fff;
  transform: translate(-50%, -50%) rotate(-45deg);
}

#prev, #next {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  color: #959595;
  background-color: rgb(62 62 62);
  transform: translateY(-50%);
  transition: .3s;
}

#prev:hover, #next:hover {
  opacity: .7;
}

#prev.active, #next.active {
  background-color: #000;
}

#prev {
  left: -50px;
}

#next {
  right: -50px;
}

#prev.active::after, #next.active::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#next::after {
  content: '画像のURL';
}

#prev::after {
  content: '画像のURL';
}

.modal-opened {
  overflow-y: hidden;

  /* 背景を固定 */
}

.num-of-thumbnails {
  color: #fff;
  text-align: center;
}

/* フッター
------------------------------------------ */