@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #000;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

img {}

li {
  list-style: none;

  /* リスト先頭の記号を表示しないときに指定します */
}


/* 部品
------------------------------------------ */

.container {
  max-width: 1080px;
  padding: 20px;
  margin: 0 auto;
}

/* ヘッダー
------------------------------------------ */



/* セクション
------------------------------------------ */

/* ギャラリー部分 */
.thumbnails-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin: 50px 0;
}

.gallary__image {
  flex: 1 1 300px;
  min-width: 300px;
}

.thumbnail {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.thumbnails-wrapper img:hover {
  cursor: pointer;
  opacity: .7;
}

.slides-wrapper {
  position: relative;
  width: 80%;
  max-width: 1000px;
  padding: 0 20px;
}

.modal-contents {
  display: flex;
  flex-direction: row;
  row-gap: 40px;
  align-items: start;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .modal-contents {
    flex-direction: column;
  }
}

.modal-image {
  display: block;
  width: 60%;
  object-fit: cover;
}

.image-caption {
  width: 35%;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .modal-image {
    width: 100%;
  }

  .image-caption {
    width: 100%;
  }
}

.slides-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1003;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0 calc(50% - 50vw);
  background-color: rgb(0 0 0 / 80%);
  opacity: 0;
  transition: .3s;
}

.slides-overlay.active {
  visibility: visible;
  opacity: 1;
  transition: .3s;
}

.slides-overlay img.active {
  display: block;
}

#close-02 {
  position: absolute;
  top: 10%;
  right: 5%;
  z-index: 1;
  width: 50px;
  height: 50px;
  background-color: #000;
  transition: .3s;
}

#close-02:hover {
  opacity: .7;
}

#close-02::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  content: "";
  background-color: #fff;
  transform: translate(-50%, -50%) rotate(45deg);
}

#close-02::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  content: "";
  background-color: #fff;
  transform: translate(-50%, -50%) rotate(-45deg);
}

#prev, #next {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  color: #959595;
  background-color: rgb(62 62 62);
  transform: translateY(-50%);
  transition: .3s;
}

#prev:hover, #next:hover {
  opacity: .7;
}

#prev.active, #next.active {
  background-color: #000;
}

#prev {
  left: -50px;
}

#prev::after {
  position: absolute;
  top: 0;
  right: 14px;
  bottom: 0;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin: auto;
  content: '';
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(225deg);
}

#next {
  right: -50px;
}

#next::after {
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin: auto;
  content: '';
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}

.modal-opened {
  overflow-y: hidden;

  /* 背景を固定 */
}

.num-of-thumbnails {
  margin-top: 10px;
  font-size: 28px;
  color: #fff;
  text-align: center;
}

/* フッター
------------------------------------------ */